@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aligned {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes pulse-secondary {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(242, 183, 5, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(242, 183, 5, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(242, 183, 5, 0);
  }
}

.pulse-secondary {
  animation: pulse-secondary 2s infinite;
  transform: scale(1);
}

.topBarLink {
  color: black;
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  padding: 0.8rem;
  border-radius: 0.8rem;
  transition: background-color 0.2s;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topBarLink:hover {
  background-color: rgb(243, 243, 243);
}

.topBarLink p {
  margin-left: 0.5rem;
  position: relative;
  bottom: 0.05rem;
}

.bg-secondary-500 {
  transition: background-color 0.2s;
}

.bg-secondary-500:hover {
  background-color: #ffd000;
}

.border-secondary-500 {
  transition: background-color 0.2s;
}