@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aligned {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes pulse-secondary {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(242, 183, 5, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(242, 183, 5, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(242, 183, 5, 0);
  }
}

@keyframes shine {
  0% {
  }
  75%,
  100% {
    background-position: -120% 0;
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  75%,
  100% {
    transform: scale(1.2) translate(-1%, 1%);
    opacity: 0;
  }
}

@keyframes bounce-down {
  0% {
    transform: translateY(13%);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(36%);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(13%);
  }
}

@keyframes bounce-up {
  0% {
    transform: translateY(13%);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(-10%);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(13%);
  }
}

.shine-text {
  background-color: #f2b705;
  background-image: linear-gradient(
    -75deg,
    transparent 0,
    transparent 5%,
    rgba(255, 255, 255, 0.3) 5%,
    rgba(255, 255, 255, 0.3) 10%,
    transparent 10%,
    transparent 100%
  );
  background-size: 200% 100%;
  color: transparent;
  background-clip: text;
  animation: shine 1.8s infinite ease-out;
}

.bounce-up {
  animation: bounce-up 1.2s infinite;
  transform: translateY(13%);
}

.bounce-down {
  animation: bounce-down 1.2s infinite;
  transform: translateY(13%);
}

.pulse-secondary {
  animation: pulse-secondary 2s infinite;
  transform: scale(1);
}

.ping {
  animation: ping 1.8s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.nudge {
  position: relative;
  transition: 200ms ease-out;
}

.nudge:hover {
  transform: translateY(-3px);
}

.dataContainer span {
  width: fit-content;
  align-self: center;
  position: relative;
}

.dataContainer span > .pop-up {
  transition: all 0.3s ease-out;
  opacity: 0;
  position: absolute;
  text-align: center;
  left: calc(100% + 10px);
  background-color: #010f23;
  padding: 4px 5px;
  border-radius: 5px;
  color: rgb(240, 240, 240);
  width: min-content;
  min-width: 120px;
  max-width: 155px;
  z-index: 10;
}

.dataContainer span > .pop-up > svg {
  color: #010f23;
  position: absolute;
  height: 15px;
  top: calc(50% - 7.5px);
  transform: scaleX(-1);
  left: -12px;
}

.dataContainer span > .bounce-down:hover + .pop-up,
.dataContainer span > .bounce-up:hover + .pop-up {
  display: block;
  opacity: 0.9;
}

* {
  transition: all 0.3s ease-out;
  box-sizing: border-box;
}

.checkContainer {
  position: absolute;
  top: 10px;
  right: 20px;
  transform: scale(0.8);
}

.checkbox {
  opacity: 0;
}

.label {
  background-color: #111827;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .circle {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .circle {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}
